Package: ldid
Priority: optional
Section: Development
Maintainer: Jay Freeman (saurik) <saurik@saurik.com>
Architecture: iphoneos-arm
Version: 
Description: psuedo-codesign Mach-O files
Name: Link Identity Editor
Author: Jay Freeman (saurik) <saurik@saurik.com>
Depiction: http://cydia.saurik.com/info/ldid/
Depends: odcctools
Tag: purpose::console, role::developer
